<h1 class=" text-red-700 text-opacity-100 bg-indigo-800 bg-opacity-40  text-center  min-w-full"> Directiva ngIf  show={{show}}</h1>
<br><br>
<div >
    <button class="p-2 bg-green-600 text-gray-200  " (click)="show=!show">Accion</button>
    <br><br>
    
  <div class="flex justify-center">
      </div>
   
     <div>
        <table class="min-w-full bg-white " *ngIf="show">
            <thead class="bg-green-500 text-white">
              <tr>
                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Nombre</th>
                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Apellido</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Teléfono</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Email</th>
              </tr>
            </thead>
          <tbody class="text-green-800">
            <tr>
              <td class="w-1/3 text-left py-3 px-4">Andy</td>
              <td class="w-1/3 text-left py-3 px-4">De la Cruz</td>
              <td class="text-left py-3 px-4"><a class="hover:text-blue-500" >022322662</a></td>
              <td class="text-left py-3 px-4"><a class="hover:text-blue-500" >Andy@mail.com</a></td>
            </tr>
            <tr class="bg-gray-100">
              <td class="w-1/3 text-left py-3 px-4">Emma</td>
              <td class="w-1/3 text-left py-3 px-4">Johnson</td>
              <td class="text-left py-3 px-4"><a class="hover:text-blue-500" >622322662</a></td>
              <td class="text-left py-3 px-4"><a class="hover:text-blue-500" >jonsmith@mail.com</a></td>
            </tr>
            <tr>
              <td class="w-1/3 text-left py-3 px-4">Oliver</td>
              <td class="w-1/3 text-left py-3 px-4">Hernandez</td>
              <td class="text-left py-3 px-4"><a class="hover:text-blue-500" >622322662</a></td>
              <td class="text-left py-3 px-4"><a class="hover:text-blue-500" >Hernandez@mail.com</a></td>
            </tr>
            <tr class="bg-gray-100">
              <td class="w-1/3 text-left py-3 px-4">Isabella</td>
              <td class="w-1/3 text-left py-3 px-4">Díaz</td>
              <td class="text-left py-3 px-4"><a class="hover:text-blue-500" >622322662</a></td>
              <td class="text-left py-3 px-4"><a class="hover:text-blue-500" >Díaz@mail.com</a></td>
            </tr>
          </tbody>
          </table>
     </div>
<br><br>
     <div>
        <table class="min-w-full bg-white " >
            <thead class="bg-red-800 text-white">
              <tr>
                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Nombre</th>
                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Apellido</th>
              
              </tr>
            </thead>
          <tbody class="text-red-700">
            <tr>
              <td class="w-1/3 text-left py-3 px-4">Oscar</td>
              <td class="w-1/3 text-left py-3 px-4">Franco</td>
              
            </tr>
            <tr class="bg-gray-100">
              <td class="w-1/3 text-left py-3 px-4">Jhordan</td>
              <td class="w-1/3 text-left py-3 px-4">Yanez</td>
             
            </tr>
        
          </tbody>
          </table>
     </div>

</div>
