<div class="flex py-32 justify-center h-screen w-full">
    <form [formGroup]='createRole' (ngSubmit)='insertUpdateRole()' class="p-3">
        <h1 class="font-semibold text-2xl text-center mb-5">{{title}}</h1>
        <div class="w-full items-center justify-center">
            <div class="m-1 text-sm">
                <span><i class="fas fa-signature text-indigo-400"></i>Descripción</span>
                <input type="text" class="rounded w-full shadow-lg border-indigo-400" placeholder="Admin.."
                    formControlName='rol_descripcion' />
            </div>
            <div class="flex items-center justify-center px-2">
                <div>
                    <button
                        class="bg-indigo-400 text-gray-200 p-2 m-2 rounded hover:shadow-2xl hover:text-indigo-400 hover:bg-white border-2 border-indigo-400 font-semibold"
                        routerLink='/roles/list-roles'>
                        <i class="far fa-arrow-alt-circle-left fa-lg"></i> Volver
                    </button>
                </div>
                <div>
                    <button
                        class="bg-green-400 p-2 rounded hover:shadow-2xl border-2 border-green-400 hover:text-green-600 hover:bg-white text-white font-semibold">
                        Guardar <i class="far fa-save fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex w-full h-5 items-center justify-center mt-3">
            <span class="text-red-500 text-sm" *ngIf="submitted && createRole.invalid">
                Campo son obligatorio
            </span>
        </div>
    </form>
</div>